@media(max-width: 1024px){

	html{
		font-size: 60%;
	}
	
	#items .linkpage{
	margin-top: 10rem;
	}
	
	#shops img{
		width: 80%;
	}
	#sapporo{
	right: 38%;
	}
	#tokyo{
	top: 69.5%;
	left: 66%;
	}
	#osaka{
		right: 54%;
	}

	#fukuoka{
	right: 76.5%;
	}

}



@media(max-width: 768px){

	html{
		font-size: 55%;
	}
	.bgimg-slider {
    background: no-repeat 80% center/cover;
   }

   #nav{
   	display: none;
   }
   .hb{
   	display: block;
   }
   #sns{
	right:4rem;
	}

	h1{	
	padding-top: 45%;
	padding-left: 23%;
	font-size: 10vw;
	line-height: 12vw;

		text-shadow: 0 0 1rem #fff,0 0 1rem #fff,0 0 1rem #fff,0 0 1rem #fff;
	}
	.inner{
		text-align: center;
		padding: 5% 3%;
	}
	#about .inner{
		display: block;
	}
	#about_photo{
		display: block;
		margin: 0 auto;
		width: 60vw;
		height: 60vw;
	}
	#items_grid{
		grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
	}
	.item_img{
	width: 20vh;
	height: 20vh;
	}
	.item_bg{
	width: 20vh;
	height: 20vh;
	}
	
	#flex{
	display: block;
	}
	footer{
		text-align: center;
		padding: 5% 3%;
	}
	footer img{
	margin-bottom:3rem;
	}
	footer nav a:first-child{
		margin-left: 0;
	}
	footer nav a{
		font-size: 3vw;
	}
	footer nav{
		margin-bottom: 3rem;
	}
	
	
	.shops_about{
		justify-content: center;
	}
	.shops_about img{
		margin-right:2rem
	.shopdetail{
		margin-left: 2rem;
	}
}
